extends layout

block content
    h1= title
    p Welcome to #{title}

    h3 You accessed page using the GET request of page
    p your access id is #{output}

    //*each value in anyArray
    //    p= value
